In [15]:
import pandas as pd
import os

In [16]:
file_path = "../data/data_3dec/"
file_name = "canine_cases_labelled.xlsx"
df = pd.read_excel(os.path.join(file_path, file_name))

df.head()

,Unnamed: 0,Right,Unnamed: 2,Unnamed: 3,Unnamed: 4,Left,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Angulation,Vertical Height,Overlap,Apex Position,Angulation,Vertical Height,Overlap,Apex Position
1,Case Number,Paramater 1,Parameter 2,Parameter 3,Parameter 4,Paramater 1,Parameter 2,Parameter 3,Parameter 4
2,1,NaN,NaN,NaN,NaN,Poor,Average,Poor,Poor
3,2,Good,Good,Good,Good,Good,Good,Good,Good
4,3,NaN,NaN,NaN,NaN,Poor,Good,Poor,Average

In [17]:
# split colmns 

right_columns = ['Unnamed: 0', 'Right', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']
left_columns = ['Unnamed: 0', 'Left', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8']

right_cases = df[right_columns]
left_cases = df[left_columns]

In [18]:
right_cases = right_cases.drop([0, 1])
left_cases = left_cases.drop([0, 1])

In [19]:
# rename columns

columns = ["Case Number", "Parameter 1", "Parameter 2", "Parameter 3", "Parameter 4"]

right_cases.columns = columns
left_cases.columns = columns

In [20]:
# set index

right_cases = right_cases.set_index("Case Number")
left_cases = left_cases.set_index("Case Number")

In [21]:
# save to csv
file_path

right_cases.to_csv(f"{file_path}/right_cases.csv")
left_cases.to_csv(f"{file_path}/left_cases.csv")